{% extends "page.html" %}
{% block content %}
  <h1>Feature: {{ label }}</h1>
  <dl>
    <dt>URI</dt>
    <dd><a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri }}">{{ uri }}</a></dd>
    <dt>Label</dt>
    <dd>{{ label }}</dd>
    <dd><a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ isPartOf }}">{{ isPartOf }}</a></dd>
    <dt>Parent</dt>
    <dd><em>None</em></dd>
    <dt>Neighbours</dt>
    <dd><dd><em>None</em></dd>
    <dt>Children</dt>
    {% set u = "https://w3id.org/dggs/tb16pix/zone/" %}
    <dd>
      <div style="display: grid; grid-template-columns: 100px 100px 100px 100px; grid-template-rows: 50px 50px 50px; text-align:center;">
        <div style="grid-column:2; grid-row:1;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"N" }}">Zone {{ "N" }}</a>
        </div>
        <div style="grid-column:1; grid-row:2;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"O" }}">Zone {{ "O" }}</a>
        </div>
        <div style="grid-column:2; grid-row:2;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"P" }}">Zone {{ "P" }}</a>
        </div>
        <div style="grid-column:3; grid-row:2;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"Q" }}">Zone {{ "Q" }}</a>
        </div>
        <div style="grid-column:4; grid-row:2;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"R" }}">Zone {{ "R" }}</a>
        </div>
        <div style="grid-column:2; grid-row:3;">
          <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ u+"S" }}">Zone {{ "S" }}</a>
        </div>
      </div>
    </dd>
  </dl>
  <div id="altprofiles">
    <h4>Alternates Profiles</h4>
    <p>Different views of and formats:</p>
    <p>
      <a href="?_profile=alt">Alternate Profiles</a>
      <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
    </p>
  </div>
{% endblock %}