<div style="display: grid; grid-template-columns: 75% 25%;">
  <div style="grid-column: 1">
    <p>
      This API is created using <a href="https://github.com/rdflib/pyLDAPI">pyLDAPI</a>, a Linked Data API tool written in Python.
  </div>
  <div style="grid-column: 2">
    <p>
      This API is maintained by:<br />
      <a href="https://surroundaustralia.com" style="font-family: sans-serif; text-decoration: none; font-weight: bold; color:#333;">
        <img style="float:left; margin-right: 10px;" src="{{ url_for('static', filename='surround-logo-catprez.png') }}" alt="CatPrez Logo" />
        SURROUND<br />
        Australia
      </a>
    </p>
  </div>
</div>