{% extends "page.html" %}
{% block content %}
  <h1>Feature: {{ label }}</h1>
  <dl>
    <dt>URI</dt>
    <dd><a href="{% if LOCAL_URIS %}{{ url_for("object", uri=uri) }}{% else %}{{ uri }}{% endif %}">{{ uri }}</a></dd>
    <dt>Parent</dt>
    <dd><a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ parent[0] }}">Zone {{ parent[1] }}</a></dd>
    <dt>Neighbours</dt>
    <dd>
      <div style="display: grid; grid-template-columns: 100px 100px 100px; grid-template-rows: 50px 50px 50px; text-align:center;">
      {% for x in neighbours %}
        {% if x[2] == "up" %}
          {% set c = 2 %}
          {% set r = 1 %}
        {% elif x[2] == "down" %}
          {% set c = 2 %}
          {% set r = 3 %}
        {% elif x[2] == "left" %}
          {% set c = 1 %}
          {% set r = 2 %}
        {% else %}{# right #}
          {% set c = 3 %}
          {% set r = 2 %}
        {% endif %}
        <div style="grid-column: {{ c }}; grid-row: {{ r }};">
        <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ x[0] }}">Zone {{ x[1] }}</a>
        </div>
        <div style="grid-column: 2; grid-row: 2;">{{ label }}</div>
      {% endfor %}
      </div>
    </dd>
    <dt>Children</dt>
    {% if children is not none %}
      <dd>
        <div style="display: grid; grid-template-columns: 100px 100px 100px; grid-template-rows: 50px 50px 50px; text-align:center;">
          <div style="grid-column:1; grid-row:1;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"0" }}">{{ label+"0" }}</a>
          </div>
          <div style="grid-column:2; grid-row:1;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"1" }}">{{ label+"1" }}</a>
          </div>
          <div style="grid-column:3; grid-row:1;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"2" }}">{{ label+"2" }}</a>
          </div>
          <div style="grid-column:1; grid-row:2;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"3" }}">{{ label+"3" }}</a>
          </div>
          <div style="grid-column:2; grid-row:2;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"4" }}">{{ label+"4" }}</a>
          </div>
          <div style="grid-column:3; grid-row:2;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"5" }}">{{ label+"5" }}</a>
          </div>
          <div style="grid-column:1; grid-row:3;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"6" }}">{{ label+"6" }}</a>
          </div>
          <div style="grid-column:2; grid-row:3;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"7" }}">{{ label+"7" }}</a>
          </div>
          <div style="grid-column:3; grid-row:3;">
            <a href="{% if LOCAL_URIS %}{{ url_for("object") }}?uri={% endif %}{{ uri+"8" }}">{{ label+"8" }}</a>
          </div>
        </div>
      </dd>
    {% else %}
      <dd><em>None</em></dd>
    {% endif %}
    <dt>Geometry</dt>
    <dd><a href="{% if LOCAL_URIS %}{{ url_for("object", uri=defaultGeometry[0]) }}{% else %}{{ defaultGeometry[0] }}{% endif %}">{{ defaultGeometry[1] }}</a></dd>
  </dl>
  <div id="altprofiles">
    <h4>Alternates Profiles</h4>
    <p>Different views of and formats:</p>
    <p>
      <a href="?_profile=alt">Alternate Profiles</a>
      <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
    </p>
  </div>
{% endblock %}